/* ResetCss */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,menu,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}*[hidden]{display: none}body{line-height:1}menu,ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content: '';content:none}table{border-collapse: collapse;border-spacing:0}
/* SwiperJs */
@font-face{font-family:swiper-icons;src:url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-pointer-events{touch-action:pan-y}.swiper-pointer-events.swiper-vertical{touch-action:pan-x}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-autoheight,.swiper-autoheight .swiper-slide{height:auto}.swiper-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-backface-hidden .swiper-slide{transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-3d,.swiper-3d.swiper-css-mode .swiper-wrapper{perspective:1200px}.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide,.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top,.swiper-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-3d .swiper-slide-shadow{background:rgba(0,0,0,.15)}.swiper-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-horizontal.swiper-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-vertical.swiper-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}.swiper-centered>.swiper-wrapper::before{content:'';flex-shrink:0;order:9999}.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child{margin-inline-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-horizontal>.swiper-wrapper::before{height:100%;min-height:1px;width:var(--swiper-centered-offset-after)}.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child{margin-block-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-vertical>.swiper-wrapper::before{width:100%;min-width:1px;height:var(--swiper-centered-offset-after)}.swiper-centered>.swiper-wrapper>.swiper-slide{scroll-snap-align:center center}

/* UTITLS */
body {
    background-color: rgb(255, 230, 230);
    color: rgb(0, 95, 80);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    min-height: 300vh;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.col {
    flex: 1 0 0%;
    max-width: 100%;
    width: 100%;
}

.d-block { display: block }

.mra { margin-right: auto }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr20 { margin-right: 20px }
.mr25 { margin-right: 25px }
.mr30 { margin-right: 30px }

.mla { margin-left: auto }
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml20 { margin-left: 20px }
.ml25 { margin-left: 25px }
.ml30 { margin-left: 30px }

.btn {
    padding: 15px 25px;
    cursor: pointer;
    display: block;
    color:rgb(0, 95, 80);
    text-decoration: none;
}


.btn--primary {
    background-color: rgb(228, 125, 125);
    color: #fff;
    text-transform: uppercase;
    transition: background .3s ease-in-out;
}

.btn--primary:hover {
    background-color: rgb(198, 105, 105);
}

.btn--empty {
    border: none;
    background: transparent;
}

h1,.h1 {
    font-size: 3.25rem;
    line-height: 3.25rem;
}

h2,.h2 {
    font-size: 2.375rem;
    line-height: 2.875rem;
}

h3,.h3 {

}

h4,.h4 {

}

/* ANNUCNMENT */
.announcement-bar {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 95, 80, .1);
    font-weight: 300;
    font-size: .75rem;
    text-align: center;
    margin-bottom: 221px;
}

.announcement-bar p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-bar svg {
    display: block;
    width: 15px;
    height: 15px;
}

header {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    padding: 20px 0;
    z-index: 10;
    background-color: rgb(255, 230, 230);
}

header.--sticky { top: 0; }

header .row {
    align-items: center;
}

header .logo {
    width: 170px;
    height: 170px;
    transition: all .2s ease-in-out;
}

.scrolled header .logo {
    width: 70px;
    height: 70px;
}

.header__menu {
    opacity: 0;
    position: absolute;
    right: 100000px;
    left: -100000px;
    top: 0;
    bottom: 0;
    margin: 0;
    height: calc(100vh - 240px);
    padding-top: 190px;
    background-color: rgb(255, 230, 230);
    transition: opacity .3s ease-in-out;
    visibility: hidden;
    transform: translateX(0);
    transition: transform .3s ease-in-out;
}

.--active.header__menu { visibility: visible; opacity: 1; left: 0; right: 0;}

.menu__level-2,
.menu__level-3 {
    display: none;
    position: absolute;
    top: 190px;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
}

.menu__level .menu__action {
    display: flex;
}

.menu__level .menu__action a {
    flex-grow: 1;
}

.menu__level li {
    border-top: rgba(0, 95, 80, .1) 1px solid;
}

.menu__level li:last-child {
    border-bottom: rgba(0, 95, 80, .1) 1px solid;
}

.menu__level a {
    display: block;
    padding: 10px 20px;
    color: rgb(0, 95, 80);
    text-decoration: none;
}

.menu__forward {
    padding: 10px 20px 11px;
    border-left: 1px solid rgba(0, 95, 80, .1);
}

.menu__level-3 { transform: translateX(200%) }

.header__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__burger svg {
    width: 26px;
    height: 20px;
    stroke: currentColor;
}
.header__burger svg  line {
    transform: rotate(0deg) translateY(0) translateX(0);
    transform-origin: 50% 50%;
    transition: all .5s cubic-bezier(.42,0,.14,1.01);
}
.--active.header__burger svg line {
    position: relative;
    opacity: 1;
    transform: rotate(-45deg);
}
.--active.header__burger svg line:first-child {
    transform: rotate(45deg) translateY(10px) translateX(1px);
}
.--active.header__burger svg line:last-child {
    overflow: hidden;
    opacity: 0;
    transform: rotate(45deg) translateY(-7px) translateX(1px);
}

.intro-hero__image {
    position: relative;
}
.intro-hero__image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
}

.intro-hero__content {
    position: absolute;
    top: 50%;
    right: 50%;
    max-width: 350px;
    min-width: 350px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 230, 230, .75);
}

.intro-hero__content h1,
.intro-hero__content h2,
.intro-hero__content p {
    margin-bottom: 5px;
}

.intro-hero__content p { margin-bottom: 20px }

.intro-hero__buttons {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    left:0;
    justify-content: space-between;
    display: flex;
    z-index: 11;
}

.intro-hero__button {
    padding: 20px;
    transition: .3s ease-in-out all;
    cursor: pointer;
}

.intro-hero__button:hover {
    background-color: rgba(255, 230, 230, .5);
}

.swiper-slide .intro-hero__content {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-47%) translateX(50%);
    transition: all .3s ease-in-out;
    transition-delay: .5s;
}
.swiper-slide.swiper-slide-active .intro-hero__content {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) translateX(50%);
}